.case-list {
  width: 100%;
  margin: 12px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
}
.case-item {
  width: 100%;
  margin: 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--background-main-color);
  display: flex;
  align-items: center;
  position: relative;
}
.case-item__title {
  margin: 0 20px 0 12px;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  line-height: 1.15;
  color: var(--title-color);
  text-transform: uppercase;
}
.case-item__icon {
  width: auto;
  height: 30px;
  margin: 0 0 0 auto;
  object-fit: contain;
  object-position: right;
  z-index: 2;
  position: relative;
}
.case-item__close {
  width: 22px;
  height: 22px;
  background-image: url('../../../shared/icons/closed.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media all and (max-width: 1000px) {
  .case-list {
    gap: 8px;
  }
  .case-item {
    padding: 12px 8px;
  }
  .case-item__title {
    margin: 0;
    font-size: 16px;
  }
  .case-item__icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: auto;
    height: 20px;
  }
  .case-item__info {
    margin: 0 0 0 12px;
    display: flex;
    flex-direction: column;
  }
}
