.layout-footer {
  width: 100%;
  min-height: 80px;
  margin: 20px 0;
  padding: 16px 32px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.layout-footer__copy {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  color: var(--white-color);
}
.layout-footer__support {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-decoration: underline;
  color: var(--white-color);
  transition: all .3s ease-in-out;
}
.layout-footer__support:hover {
  cursor: pointer;
  opacity: .7;
}

@media all and (max-width: 1000px) {
  .layout-footer {
    min-height: auto;
    margin: 16px 0;
    padding: 16px 32px;
    box-sizing: border-box;
    border-radius: 20px;
    flex-direction: column-reverse;
  }
  .layout-footer__support {
    margin: 0;
    font-size: 18px;
  }
  .layout-footer__copy {
    margin: 20px 0 0 0;
    font-size: 18px;
  }
}
