
.page {
  --title-color: #050F27;
  --subtitle-color: #404040;
  --white-color: #ffffff;
  --background-main-color: #F7F8F8;
  --background-secondary-color: #f2f2f2;
  --border-card-color: #D9D9D9;
  --main-color: #8229F3;
  --secondary-color: #1B096F;
  --third-color: #6E88C5;
  --success-color: #0BCB8D;
  --error-color: #FD3429;
  --border-radius: 12px;
  background-color: var(--white-color);
  color: var(--title-color);
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Akrobat', sans-serif;
  font-weight: 300;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}

.upload-form {
  width: 100%;
  margin: 0;
}
.upload-form__container {
  width: 100%;
  display: flex;
  margin: 0;
}
.upload-form__section {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}
.upload-form__field {
  width: 100%;
  margin: 0;
  padding: 9px 16px;
  box-sizing: border-box;
  background: var(--background-main-color);
  border: 2px solid var(--border-card-color);
  border-radius: var(--border-radius);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  transition: all .3s ease-in-out;
}
.upload-form__field:hover {
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}
.upload-form__text {
  margin: 0 16px 0 0;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 800;
  color: var(--title-color);
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.upload-form__icon {
  margin: 0;
  width: 20px;
  height: 20px;
  background-image: url('../../../shared/icons/upload.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease-in-out;
}
.upload-form__field:hover .upload-form__icon {
  background-image: url('../../../shared/icons/upload-hover.png');
  background-size: 20;
  background-repeat: no-repeat;
  background-position: center;
}
.upload-form__input {
  display: none;
}
.upload-form__buttons {
  margin: 0px 0px 0px 16px;
  display: flex;
}

@media all and (max-width: 1000px) {
  .page  {
    background-color: var(--background-main-color);
  }
}
