.prize {
  margin: 20px auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  z-index: 2;
}

.prize__title {
  margin: 12px 0 0 0;
  color: var(--main-color);
  font-size: 144px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.prize__caption {
  margin: 0 0 0 auto;
  color: var(--main-color);
  max-width: 480px;
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}
