.prize {
  margin: 20px auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  z-index: 2;
}

.prize__title {
  margin: 12px 0 0 0;
  color: var(--main-color);
  font-size: 144px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.prize__caption {
  margin: 0 0 0 auto;
  color: var(--main-color);
  max-width: 480px;
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

@media all and (max-width: 1440px) {
  .prize {
    padding: 0 24px;
    box-sizing: border-box;
  }
  
  .prize__title {
    font-size: 88px;
    max-width: 800px;
  }
  
  .prize__caption {
    font-size: 28px;
  }
}

@media all and (max-width: 1000px) {
  .prize {
    padding: 0 16px;
  }
  
  .prize__title {
    font-size: 36px;
    max-width: none;
  }
  
  .prize__caption {
    margin: 0;
    font-size: 20px;
    max-width: none;
  }
}
