.recruitment {
  margin: 12px auto 80px;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}

.recruitment__info {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  flex-shrink: 0;
}

.recruitment__title {
  margin: 0;
  color: var(--main-color);
  font-size: 112px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.recruitment__subtitle {
  margin: auto 0 0 0;
  color: var(--main-color);
  font-size: 24px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.recruitment__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  width: 540px;
}

.recruitment__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recruitment__item-count {
  margin: 0;
  padding-bottom: 12px;
  width: 100%;
  color: var(--main-color);
  font-size: 80px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  z-index: 2;
  border-bottom: 3px solid var(--main-color);
}

.recruitment__item-title {
  margin: 0;
  width: 100%;
  color: var(--main-color);
  font-size: 32px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  z-index: 2;
}

.recruitment__item-text {
  margin: 0;
  width: 100%;
  color: var(--title-color);
  font-size: 24px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  z-index: 2;
}

@media all and (max-width: 1440px) {
  .recruitment {
    padding: 0 24px;
    box-sizing: border-box;
  }
  .recruitment__title {
    font-size: 64px;
  }
}

@media all and (max-width: 1280px) {
  .recruitment__title {
    font-size: 56px;
  }
  .recruitment__item-count {
    font-size: 56px;
  }
  .recruitment__item-title {
    font-size: 28px;
  }
  .recruitment__item-text {
    font-size: 20px;
  }
}

@media all and (max-width: 1000px) {
  .recruitment {
    margin: 0 0 60px;
    flex-direction: column;
  }
  .recruitment__info {
    width: 100%;
  }
  .recruitment__title {
    font-size: 28px;
  }
  .recruitment__subtitle {
    margin: 12px 0 0 0;
    font-size: 18px;
  }
  .recruitment__list {
    margin: 32px 0 0 0;
    width: 100%;
  }
  .recruitment__item {
    gap: 8px;
  }
  .recruitment__item-count {
    font-size: 32px;
  }
  .recruitment__item-title {
    font-size: 20px;
  }
  .recruitment__item-text {
    font-size: 18px;
  }
}
