.trigger {
	display: inline-flex;
}

.tooltip {
	position: absolute;

	padding: 16px 21px;
	max-width: 351px;

	background-color: var(--white-color);
	border: 1px solid var(--main-color);
	border-radius: 16px;

	color: #232323;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;

	z-index: 20000;

	opacity: 0;
	animation: fadeIn .25s forwards;

	overflow-wrap: break-word;
	pointer-events: none;
}

@keyframes fadeIn {
	to { opacity: 1; }
}