.description {
  margin: 12px auto 80px;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.description__subtitle {
  margin: 0;
  color: var(--main-color);
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.description__title {
  margin: 12px 0 0 0;
  color: var(--main-color);
  font-size: 96px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.description__container {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.description__img {
  margin: 0;
  width: 50%;
  height: 400px;
  background-image: url('../../../../../shared/images/description-background.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}

.description__img::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 180px;
  bottom: -80px;
  right: 80px;
  background-image: url('../../../../../shared/images/arrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.description__text {
  margin: 0;
  color: var(--title-color);
  font-size: 24px;
  line-height: 1.15;
  text-align: left;
  font-weight: normal;
  z-index: 2;
}

.description__info {
  margin: 80px 0 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description__info-text {
  margin: 0;
  color: var(--main-color);
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  z-index: 2;
}

@media all and (max-width: 1440px) {
  .description {
    padding: 0 24px;
    box-sizing: border-box;
  }
  .description__img {
    height: 300px;
  }
  .description__subtitle {
    font-size: 28px;
  }
  .description__title {
    font-size: 64px;
    max-width: 800px;
  }
  .description__info-text {
    font-size: 28px;
  }
}

@media all and (max-width: 1280px) {
  .description__subtitle {
    font-size: 24px;
  }
  .description__title {
    font-size: 56px;
    max-width: 720px;
  }
  .description__info-text {
    font-size: 24px;
  }
  .description__text {
    font-size: 20px;
  }
}

@media all and (max-width: 1000px) {
  .description {
    padding: 0 16px;
  }
  .description__subtitle {
    font-size: 20px;
  }
  .description__title {
    font-size: 28px;
    max-width: none;
  }
  .description__container {
    flex-direction: column;
    gap: 12px;
  }
  .description__img {
    width: 100%;
    height: 200px;
  }
  .description__img::after {
    width: 60px;
    height: 160px;
    bottom: -120px;
    left: -12px;
  }
  .description__text {
    margin: 0 0 0 60px;
    color: var(--title-color);
    font-size: 16px;
  }
  .description__info {
    margin: 40px 0 0 0;
    width: 100%;
  }
  .description__info-text {
    font-size: 20px;
  }
}
