.description {
  margin: 12px auto 80px;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.description__subtitle {
  margin: 0;
  color: var(--main-color);
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.description__title {
  margin: 12px 0 0 0;
  color: var(--main-color);
  font-size: 96px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.description__container {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.description__img {
  margin: 0;
  width: 50%;
  height: 300px;
  background-color: var(--border-card-color);
  border-radius: 12px;
  position: relative;
  flex-shrink: 0;
}

.description__img::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 180px;
  bottom: -80px;
  right: 80px;
  background-image: url('../../../../../shared/images/arrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.description__text {
  margin: 0;
  color: var(--title-color);
  font-size: 24px;
  line-height: 1.15;
  text-align: left;
  font-weight: normal;
  z-index: 2;
}

.description__info {
  margin: 80px 0 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description__info-text {
  margin: 0;
  color: var(--main-color);
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  z-index: 2;
}

.description__info-link {
  margin: 0;
  width: fit-content;
  color: var(--main-color);
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  z-index: 2;
  transition: all .3s ease-in-out;
}

.description__info-link:hover {
  cursor: pointer;
  opacity: .7;
}


@media all and (max-width: 1440px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1000px) {

}
