.person-container {
  width: 100%;
  min-width: 0;
  flex-grow: 1;
  margin: 0;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--white-color);
  border-radius: 24px;
}

.person-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.person-container::-webkit-scrollbar-track {
  border-radius: 40px;
  background: var(--background-secondary-color);
}

.person-container::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background: var(--secondary-color);
}

@media all and (max-width: 1366px) {
  .person-container {
    padding: 24px;
    min-height: 0;
  }
}

@media all and (max-width: 1000px) {
  .person-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    min-height: 0;
  }
}
