.document {
  width: 100%;
  max-width: 1440px;
  margin: 80px auto 0;
}
.document__title {
  margin: 0;
  color: var(--main-color);
  font-size: 114px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}
.document__info {
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.document__text {
  margin: 0;
  max-width: 480px;
  color: var(--main-color);
  font-size: 24px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}
.document__buttons {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 40px;
  z-index: 2;
}

@media all and (max-width: 1440px) {
  .document {
    margin: 80px 0 0;
    max-width: none;
    padding: 0 24px;
    box-sizing: border-box;
  }
  .document__title {
    font-size: 64px;
  }
}

@media all and (max-width: 1280px) {
  .document__title {
    font-size: 56px;
  }
  .document__text {
    font-size: 20px;
  }
  .document__info {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .document__buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

@media all and (max-width: 1000px) {
  .document {
    margin: 20px 0 0;
    padding: 0 16px;
  }
  .document__title {
    font-size: 28px;
  }
  .document__text {
    font-size: 18px;
  }
  .document__info {
    margin: 12px 0 0 0;
    gap: 12px;
  }
  .document__buttons {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
