@keyframes drone-float {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) translateX(3px) rotate(5deg);
  }
  50% {
    transform: translateY(0) translateX(-40px) rotate(0deg);
  }
  75% {
    transform: translateY(-5px) translateX(-3px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.main {
  margin: 0 auto 160px;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 90px - 160px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__tutor {
  position: absolute;
  top: 0;
  right: 40px;
  width: 840px;
  height: 100%;
  background-image: url('../../../../../shared/images/tutor.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.main__caption {
  margin: auto 0 0 0;
  color: var(--white-color);
  max-width: 400px;
  font-size: 28px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.main__title-container {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.main__title {
  margin: 0;
  color: var(--white-color);
  font-size: 80px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.main__title_color_transparent {
  color: #96AEFF;
  position: relative;
}

.main__title_color_transparent::after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  width: calc(100% - 40px);
  height: 16px;
  background-image: url('../../../../../shared/images//wave.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  pointer-events: none;
}

.main__title-stroke {
  margin: 0 20px;
  width: 2px;
  height: 80px;
  background-color: var(--white-color);
  animation: blink 1s ease-in-out infinite;
}

.main__subtitle {
  margin: 20px 0 0 0;
  width: 100%;
  max-width: 524px;
  color: var(--white-color);
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
  font-weight: normal;
  flex-shrink: 0;
  z-index: 2;
}

.main__info {
  margin: 20px 0 80px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.main__time {
  margin: 0;
  padding: 0 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.main__timer-text {
  margin: 0;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
}

.main__timer {
  margin: 0;
  display: flex;
  align-items: flex-end;
  font-size: 44px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  color: var(--white-color);
  z-index: 2;
}

.main__buttons {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media all and (max-width: 1440px) {
  .main {
    padding: 0 24px;
    box-sizing: border-box;
  }
  .main__caption {
    font-size: 24px;
  }
  .main__title {
    font-size: 64px;
  }
  .main__title-stroke {
    height: 64px;
  }
  .main__timer {
    font-size: 32px;
  }
}

@media all and (max-width: 1366px) {
  .main {
    margin: 0 auto 120px;
    height: calc(100vh - 90px - 120px);
  }
}

@media all and (max-width: 1280px) {
  .main {
    margin: 0 auto 80px;
    height: calc(100vh - 90px - 80px);
  }
  .main__title {
    font-size: 56px;
  }
  .main__timer {
    font-size: 28px;
  }
}

@media all and (max-width: 1000px) {
  .main {
    padding: 0 16px;
    margin: 0 auto 80px;
    height: calc(100vh - 60px - 80px);
    overflow: hidden;
  }
  .main__tutor {
    position: absolute;
    top: 0;
    right: -40px;
    width: 120%;
    height: 100%;
    background-image: url('../../../../../shared/images/tutor.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  .main__caption {
    margin: 32px 0 0 0;
    max-width: none;
    font-size: 16px;
  }
  .main__title {
    font-size: 20px;
  }
  .main__title-stroke {
    margin: 0 6px;
    height: 28px;
  }
  .main__timer {
    font-size: 20px;
  }
  .main__title_color_transparent::after {
    width: calc(100% - 12px);
    height: 16px;
  }
  .main__timer {
    margin: auto 0 0 0;
    font-size: 24px;
  }
  .main__subtitle {
    margin: 20px 0 0 0;
    max-width: none;
    font-size: 18px;
  }
  .main__buttons {
    margin: 40px 0 0 0;
    gap: 20px;
  }
}
