.header {
  width: 100%;
  max-width: 1440px;
  height: 90px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 2;
}
.header__icons {
  margin: 0;
  display: flex;
  align-items: center;
}
.header__icon {
  margin: 0 20px 0 0;
  width: 36px;
  height: 36px;
  background-color: var(--border-card-color);
  border-radius: 12px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;
  z-index: 2;
}
.header__icon:last-of-type {
  margin: 0;
}
.header__contacts {
  margin: 0 0 0 50px;
  padding: 0;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: inherit;
  color: var(--white-color);
  border-color: var(--white-color);
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  transition: .3s ease-in-out;
  flex-shrink: 0;
}
.header__contacts:hover {
  opacity: .7;
  cursor: pointer;
}

@media all and (max-width: 1366px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1000px) {
}
