.header {
  width: 100%;
  max-width: 1440px;
  height: 90px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 2;
}
.header__icons {
  margin: 0;
  display: flex;
  align-items: center;
}
.header__icon {
  margin: 0 20px 0 0;
  width: 48px;
  height: 48px;
  background-image: url('../../../../../shared/icons/logo-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
  pointer-events: none;
  z-index: 2;
  flex-shrink: 0;
}
.header__rut {
  margin: 0;
  width: 120px;
  height: 48px;
  background-image: url('../../../../../shared/icons/logo-rut-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;
  pointer-events: none;
  flex-shrink: 0;
  z-index: 2;
}
.header__navigation {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__contacts {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: inherit;
  color: var(--white-color);
  border-color: var(--white-color);
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  transition: .3s ease-in-out;
  flex-shrink: 0;
  z-index: 2;
}
.header__contacts:hover {
  opacity: .7;
  cursor: pointer;
}

@media all and (max-width: 1441px) {
  .header {
    padding: 0 24px;
  }
}

@media all and (max-width: 1280px) {
  .header__navigation {
    gap: 24px;
  }
}


@media all and (max-width: 1000px) {
  .header {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  .header__icon {
    width: 32px;
    height: 32px;
  }
  .header__rut {
    margin: 0;
    width: 96px;
    height: 40px;
  }
}
