.international {
  margin: 80px auto 20px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  z-index: 2;
}

.international__title {
  margin: 12px 0 0 0;
  color: var(--main-color);
  font-size: 96px;
  line-height: 1;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.international__caption {
  margin: 0;
  color: var(--main-color);
  max-width: 240px;
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.international__text {
  margin: 20px 0 0 0;
  color: var(--main-color);
  font-size: 24px;
  line-height: 1.15;
  text-align: left;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

@media all and (max-width: 1440px) {
  .international {
    padding: 0 24px;
  }
  .international__title {
    font-size: 88px;
  }
}

@media all and (max-width: 1280px) {
  .international__title {
    font-size: 56px;
  }
  .international__text {
    margin: 12px 0 0 0;
    font-size: 20px;
  }
}

@media all and (max-width: 1000px) {
  .international {
    padding: 0 16px;
    gap: 12px;
  }
  .international__caption {
    max-width: none;
    font-size: 20px;
  }
  .international__title {
    margin: 0;
    font-size: 28px;
  }
  .international__text {
    margin: 0;
    font-size: 18px;
  }
}
