.leaderboard {
  width: 100%;
  margin: 80px 0 0;
  display: flex;
  flex-direction: column;
}

.leaderboard__section {
  width: 100%;
  margin: 40px 0 60px;
  display: flex;
  flex-direction: column;
}

.leaderboard__nav {
  width: 100%;
  margin: 32px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.leaderboard__nav-item {
  width: 100%;
  margin: 0;
  padding: 14px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 28px;
  transition: all .3s ease-in-out;
}

.leaderboard__nav-item-active {
  background-color: var(--main-color);
}

.leaderboard__nav-item-active:hover {
  cursor: default;
}

.leaderboard__nav-item-default {
  background-color: var(--white-color);
}

.leaderboard__nav-item-default:hover {
  cursor: pointer;
  opacity: .7;
}

.leaderboard__nav-text {
  color: var(--main-color);
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.leaderboard__nav-item-active .leaderboard__nav-text {
  color: var(--white-color);
}

.leaderboard__list {
  width: 100%;
  margin: 32px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
} 

.leaderboard__row {
  width: 100%;
  margin: 0;
  padding: 12px 28px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 150px 200px;
  gap: 12px;
}

.leaderboard__row-main {
  background-color: var(--white-color);
  border-radius: 16px;
}

.leaderboard__text {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.15;
  color: var(--title-color);
  position: relative;
}

.leaderboard__text_color {
  color: var(--main-color);
  font-weight: bold;
}

.leaderboard__text-header {
  margin: 0;
  font-weight: 800;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  line-height: 1.15;
  color: var(--title-color);
  text-transform: uppercase;
  position: relative;
}

.leaderboard__status {
  width: 100%;
  margin: 0;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--white-color);
  text-transform: uppercase;
}

.leaderboard__status:hover {
  cursor: default;
}

.leaderboard__status-final {
  background-color: var(--secondary-color);
}

.leaderboard__status-best {
  background-color: var(--main-color);
}

@media all and (max-width: 1280px) {
  .leaderboard__row {
    grid-template-columns: 100px 1fr 1fr 100px 150px;
  }
}

@media all and (max-width: 1000px) {
  .leaderboard__section {
    margin: 20px 0 30px;
  }
  .leaderboard__nav {
    margin: 24px 0 0;
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .leaderboard__nav-item {
    padding: 8px 14px;
    border-radius: 12px;
  }
  
  .leaderboard__nav-text {
    font-size: 16px;
  }

  .leaderboard__list {
    margin: 24px 0 0;
    gap: 12px;
  } 

  .leaderboard__row {
    grid-template-columns: 16px 1fr 40px 60px;
    padding: 8px 14px;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .leaderboard__row-header {
    padding: 0 14px;
  }

  .leaderboard__text {
    font-size: 14px;
    line-height: 1.15;
  }
  
  .leaderboard__text-header {
    font-size: 14px;
  }
  
  .leaderboard__status {
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
  }
}

