.advantages {
  margin: 12px 0 80px 0;
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  z-index: 2;
}

.advantages__container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.advantages__title {
  margin: 0 0 40px 0;
  color: var(--white-color);
  font-size: 114px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  flex-shrink: 0;
  z-index: 2;
}

.advantages__item {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 24px 28px;
  box-sizing: border-box;
  background-color: var(--white-color);
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.advantages__item-icon {
  margin: 0;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.advantages__item-title {
  margin: 0;
  max-width: 60%;
  color: var(--title-color);
  font-size: 24px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  z-index: 2;
}

.advantages__item-text {
  margin: 0;
  max-width: 80%;
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  font-weight: normal;
  z-index: 2;
}

@media all and (max-width: 1440px) {
  .advantages {
    padding: 64px 24px;
  }
  .advantages__title {
    font-size: 64px;
  }
}

@media all and (max-width: 1280px) {
  .advantages {
    padding: 48px 24px;
  }
  .advantages__title {
    font-size: 56px;
  }
}

@media all and (max-width: 1000px) {
  .advantages {
    padding: 64px 16px;
  }
  .advantages__title {
    font-size: 28px;
  }
  .advantages__item {
    width: 100%;
    margin: 0;
    padding: 24px 16px;
    min-height: 400px;
    max-width: none;
  }
}
