.person-video__container {
  margin: 0;
  width: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.person-video {
  margin: 0px;
  width: 480px;
  height: auto;
  border-radius: var(--border-radius);
}
.person-video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  pointer-events: none;
  transition: all .3s ease-in-out;
}
.person-video__container:hover .person-video__overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.person-video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../../../../shared/icons/play.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: all .3s ease-in-out;
}
.person-video__play-btn:hover {
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .person-video__container {
    margin: 0;
    width: 100%;
  }
  .person-video {
    margin: 0;
    width: 100%;
  }
  .person-video__play-btn {
    width: 64px;
    height: 64px;
  }
}
