.form {
  margin: 20px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 2;
}
.form__field {
  margin: 0 0 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form_type_popup .form__field {
  margin: 0 0 8px;
}
.form__field_margin-bottom_large {
  margin: 0 0 24px;
}
.form_type_popup .form__field_margin-bottom_large {
  margin: 0 0 24px;
}
.form__field:last-of-type {
  margin: 0 0 24px;
}
.form__field-title {
  margin: 0 0 6px;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 800;
  color: var(--title-color);
  text-align: left;
}
.form_type_popup .form__field-title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 24px;
}
.form__field-subtitle {
  margin: 0 0 6px 0;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  color: var(--subtitle-color);
  text-align: left;
}
.form__input {
  margin: 0;
  width: 100%;
  background: var(--background-main-color);
  border: 2px solid var(--border-card-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--title-color);
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 800;
  outline: none;
  padding: 9px 16px;
  transition: all .3s ease-in-out;
}
.form__input:focus {
  border: 2px solid var(--secondary-color);
}
.form__input:active {
  border: 2px solid var(--secondary-color);
}
.form__input:hover {
  border: 2px solid var(--secondary-color);
}
.form__input-error {
  margin: 4px 0 0;
  min-height: 16px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  color: var(--error-color);
  text-align: left;
  pointer-events: none;
  transition: all .3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}
.form__input-error_type_hide {
  opacity: 0;
}
.form__input-error_type_show {
  opacity: 1;
}
.form__input::placeholder {
  font-weight: 300;
  color: var(--border-card-color);
}
.form__buttons {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.form__submit-stub {
  width: 100%;
  height: 20px;
}
.form__submit {
  width: 100%;
  margin: auto 0 0 0;
  padding: 12px 28px;
  box-sizing: border-box;
  border: none;
  border-radius: 28px;
  color: var(--white-color);
  background-color: var(--secondary-color);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  transition: .3s ease-in-out;
}
.form_type_popup .form__submit {
  margin: 0;
  padding: 8px 14px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1;
}
.form__submit:hover {
  cursor: pointer;
  opacity: .7;
}
.form__submit_type_block {
  color: var(--white-color);
  background-color: var(--border-card-color);
}
.form__submit_type_block:hover {
  cursor: default;
  opacity: 1;
  user-select: none;
  pointer-events: none;
}
.form__error {
  margin: 4px 0 0 0;
  min-height: 16px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  color: var(--error-color);
  text-align: left;
  pointer-events: none;
  transition: all .3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
}
.form__error_status_show {
  opacity: 1;
}

.radio {
  margin: 0;
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input + span {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: var(--title-color);
  padding-left: 22px;
  padding-top: 2px;
  display: block;
  position: relative;
}
.radio input + span:not(:empty) {
  padding-left: 30px;
}
.radio input + span:before, .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
.radio input + span:before {
  background: var(--border-card-color);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
  background: var(--white-color);
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
  transform: scale(1.04);
  background: var(--secondary-color);
}
.radio input:checked + span:after {
  transform: scale(0.4);
  transition: transform 0.3s ease;
}
.radio:hover input + span:before {
  transform: scale(0.92);
}
.radio:hover input + span:after {
  transform: scale(0.74);
}
.radio:hover input:checked + span:after {
  transform: scale(0.4);
}
.checkbox__item {
  margin: 12px 0 0 0;
  display: flex;
}
.checkbox__item_margin_top {
  margin-top: 20px;
}
.checkbox__text {
  margin: 0 0 0 8px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: var(--title-color);
  display: block;
  position: relative;
}
.checkbox {
  margin: 0px;
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer;
}
.checkbox_width_small {
  width: 22px;
  height: 22px;
}
.checkbox_margin_top {
  margin: 12px 0px 0px 0px;
}
.checkbox_margin_top-20 {
  margin: 20px 0px 0px 0px;
}
.checkbox input {
  display: none;
}
.checkbox input + span {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: var(--title-color);
  padding-left: 22px;
  padding-top: 2px;
  display: block;
  position: relative;
}
.checkbox input + span:not(:empty) {
  padding-left: 30px;
}
.checkbox input + span:before, .checkbox input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 20%;
  left: 0;
  top: 0;
  position: absolute;
}
.checkbox input + span:before {
  background: var(--border-card-color);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.checkbox input + span:after {
  background: var(--white-color);
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.checkbox input:checked + span:before {
  transform: scale(1.04);
  background: var(--secondary-color);
  background-image: url('../../../icons/checkbox-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.checkbox input:checked + span:after {
  transform: scale(0);
  transition: transform 0.1s ease;
}
.checkbox:hover input + span:before {
  transform: scale(0.92);
}
.checkbox:hover input + span:after {
  transform: scale(0.74);
}
.checkbox:hover input:checked + span:after {
  transform: scale(0);
}


@media all and (max-width: 1000px) {
  .form {
    margin: 12px 0 0;
  }
  .form__field {
    margin: 0 0 12px;
  }
  .checkbox__text {
    font-size: 16px;
    line-height: 20px;
  }
  .form__field-title {
    font-size: 20px;
    line-height: 24px;
  }
  .form_type_popup .form__field-title {
    font-size: 16px;
    line-height: 20px;
  }
  .form__field-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
